@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::selection {
    background-color: rgba(255, 230, 0, 0.685);
}

header {
    display: flex;
    top: 0;
    background-color: white;
    width: 100%;
    height: 200px;
    padding: 10px 5px;
    align-items: center;
    justify-content: space-around;
  
    background-image: linear-gradient(to top, transparent, rgba(255, 208, 0, 0.219));
}

.logo img{
    width: 10vw;
}

.nav-lvls {
    display: flex;
    flex-direction: row;
  
    width: auto;
    height: fit-content;
    column-gap: 30px;
}

.nav-lvls button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding: 10px 20px;

    font-size: 1.8rem;
    font-family: "Jersey 10", system-ui;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.247);
    transition: 0.4s linear;
}

.nav-lvls button:hover {
    animation: pulsar 1s infinite linear;
    cursor: pointer;
}

@keyframes pulsar {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

.dif-easy {
    background-image: linear-gradient(to right, green, rgb(2, 173, 2));
}

.dif-medium {
    background-image: linear-gradient(to right, rgb(247, 222, 0), rgb(255, 187, 0));
}

.dif-hard {
    background-image: linear-gradient(to right, rgb(128, 0, 0), rgb(173, 2, 2));
}

.nav-lvls img {
    width: 60px;
}

.nav-lvls a {
    text-decoration: none;
}

.contatos {
    display: flex;
    flex-direction: row;
    width: auto;
    height: fit-content;
    column-gap: 30px;
}

.contatos img {
    width: 70px;
    transition: 0.4s linear;
}

.contatos img:hover {
    scale: 1.05;
}





.text {
    display: flex;
    flex-direction: column  ;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding: 100px;
    text-align: center;
    font-family: "Jersey 10";
    color: #333;
}

.text h2 {
    animation: pulsar 2s infinite linear;
}

.pai-questao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.questao {
    border: none;
    box-shadow: 0px 0px 10px rgb(136, 255, 0);
    height: auto;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: #ffd900;
    border-radius: 40px;
    scale: 0.9;
}
.foto-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto-text img {
    width: 45vw;
}

.foto-text p {
    font-size: 3.5rem;
    font-family: "Jersey 10";
    margin: 15px;
    margin: 40px;
}

.foto-text span {
    color: #ffffff;
    font-size: 4rem;
}

.opcs {
    display: flex;
    flex-direction: column;
    
    width: 40vw;
    gap: 20px;
}

.opcs button {
    text-align: start;
    font-size: 3rem;
    padding: 10px 20px;
    font-family: "Consolas";
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffd900;
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    font-family: "Jersey 10";
    transition: 0.6s ease;
}

.opcs button:hover{
    scale: 1.05;
     cursor: pointer;
}

.num-q {
    color: #ffd900;
    font-size: 4rem;
    margin-right: 2vw;
    font-family: "Jersey 10";
}

.dica button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    gap: 10px;
    margin-top: 3vh;
    font-size: 2rem;
    font-family: "Jersey 10";
    color: #ffffff;
    background-color: #01e065;
    border-radius: 10px;
    border: none;
    transition: 0.6s ease;
}

.dica button:hover{
    scale: 1.05;
    cursor: pointer;
}

.dica button img {
    width: 50px;
}
